{% extends 'base.html' %}
{% load staticfiles %}
  
{% block title %} 
  {{ course.name }} | редагувати диктант
{% endblock title %}
  
{% block head %}
  <link rel="stylesheet" href="{% static 'css/community-style.css' %}">
{% endblock head %}
   
{% block body %}
 
<ol class="breadcrumb">
  <li><a href="{% url 'community' c_id=com.id %}">{{ com.name }}</a></li>
  <li><a href="{% url 'courses' c_id=com.id %}">Курси</a></li>
  <li><a href="{% url 'course' c_id=com.id cr_id=course.id %}">{{ course.name }}</a></li>
  <li><a href="{% url 'course' c_id=com.id cr_id=course.id %}">{{ step.name }}</a></li>
  <li class="active">Редагувати</li>
</ol>

    {% if messages %}
    {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}  
  
<form action="{% url 'edit_step' c_id=com.id cr_id=course.id s_id=step.id %}" method="post">
  {% csrf_token %}
  {% for field in form %}
    {% if not field.html_name == 'audio' %}
      <b>{{ field.label }}</b>
      <p>{{ field }}</p>
      {{ field.help_text }}
    {% else %}
        <b>Аудіо</b><br>
        <a href="{{ dictation.audio.url }}">{{ dictation.audio.name }}</a>
        <br><br>
        Якщо треба замінити аудіофайл, завантажте новий тут.
        <input type="file" name="new_audio" enctype="multipart/form-data">
    {% endif %}
  <hr>
  {% endfor %}
  <button type="submit" class="btn btn-default">Зберегти</button>
  <a href="{% url 'course_step_delete' c_id=com.id cr_id=course.id s_id=step.id %}">
    <button type="button" class="btn btn-link">Видалити</button>
  </a>
</form>
  
{% endblock body %}
