{% extends 'base.html' %}
{% load staticfiles %}
  
{% block title %} 
  {{ step.name }}
{% endblock title %}
  
{% block head %}
  <link rel="stylesheet" href="{% static 'css/community-style.css' %}">
{% endblock head %}
   
{% block body %}
 
<ol class="breadcrumb">
  <li><a href="{% url 'community' c_id=com.id %}">{{ com.name }}</a></li>
  <li><a href="{% url 'courses' c_id=com.id %}">Курси</a></li>
  <li><a href="{% url 'course' c_id=com.id cr_id=course.id %}">{{ course.name }}</a></li>
  <li class="active">{{ step.name }}</li>
</ol>

{% if user == course.author %}
<a class="btn btn-warning" href="{% url 'edit_step' c_id=com.id cr_id=course.id s_id=step.id %}" role="button" style="float:right; margin-bottom:5px;">
Редагувати</a>
{% endif %}

<div class="panel panel-success with-clear">
  <div class="panel-heading">
    <h3 class="panel-title">{{ step.name }}</h3>
  </div>
  <div class="panel-body">
    {{ step.description|safe|linebreaks }}
    
    <hr>
    <div class="text-center">
      <form action="{% url 'write_dictation' c_id=com.id cr_id=course.id s_id=step.id %}" class="go-dict-btn">
        <button type="submit" class="btn btn-success btn-block" value="Готовий!">
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
          Вперед!
        </button>
      </form>
    </div>
  </div>
</div>
    

{% endblock body %}
