{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}
    
{% block title %} 
{{ com.name }} | обговорення
{% endblock title %}
  
{% block head %}
  <link rel="stylesheet" href="{% static 'css/community-style.css' %}">
{% endblock head %}
   
{% block body %}
   <div class="com-info-block">
     <h3>{{ com.name }}</h3>
     <h5>{{ com.description }}</h5>
      {% if is_admin %}
       <a href="{% url 'community_settings' c_id=com.id %}">
         <button type="button" class="btn btn-warning">
           <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
           Керування спільнотою
         </button>
       </a>
       {% endif %}
   </div>
   
   {% include 'communities/community-menu.html' with active='discussions' %}
   
   <div class="discussion-block">
     <a href="{% url 'create_discussion' c_id=com.id %}">
     <button type="button" class="btn btn-primary btn-create-topic btn-sm">
       <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
         Створити тему
     </button>
     </a>
     
  {% if discussions %} 
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Тема</th>
          <th>Повідомлення</th>
          <th>Останнє повідомлення</th>
        </tr>
      </thead>
      <tbody>
       {% for disc in discussions %}
        <tr>
          <td>
            <a href="{% url 'discussion' c_id=com.id d_id=disc.id %}">
              {{ disc.title|truncatechars:32 }}
            </a>
          </td>
          <td>{{ disc.comments_count }}</td>
          <td>
            {% if disc.last_comment %}
              <a href="{% url 'profile' username=disc.last_comment.from_user.username %}">{{ disc.last_comment.from_user.get_full_name }}</a>, 
              {{ disc.last_comment.publication_date|naturaltime }}
           {% else %}
          -
           {% endif %}
          </td>
        </tr>
       {% endfor %}
      </tbody>
    </table>
  {% else %}
   <div class="no_topics text-center">
     <img src="{% static 'img/no_topics.png' %}" class="no_topics">
     <h4>Ніхто не поки створив обговорень. <br> Будь першим!</h4>
   </div>
  {% endif %}
     
   </div>   
   
   
{% endblock body %}