{% extends 'base.html' %}
{% load staticfiles %}
  
{% block title %} 
  Мої спільноти
{% endblock %}
  
{% block head %}
<link rel="stylesheet" href="{% static 'css/community-style.css' %}">
{% endblock head %}
   
{% block body %}
<div class="row">
  <div class="col-md-8">
  {% if my_communities %}
   <div class="my-communities-list">
     {% for my_com in my_communities %}
       <div class="my-com">
        <a href="{% url 'community' c_id=my_com.id %}">
         <h3>{{ my_com.name }}</h3>
        </a>
         <h5>{{ my_com.description }}</h5>
         <hr>
       </div>
     {% endfor %}
   </div>
   {% else %}
     <h5>Список спільнот поки пустий.</h5>
   {% endif %}
  </div> 

  <div class="col-md-4">
   {% if user.profile.is_expanded %}
    <a href="{% url 'create_community' %}">
     <button type="button" class="btn btn-info btn-create-com">
       <span class="glyphicon glyphicon glyphicon-globe" aria-hidden="true"></span>
         Створити спільноту
     </button>
    </a>
    {% endif %}
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="active">
        <a href="{% url 'my_communities' %}">
          Мої спільноти
            <span class="badge">{{ my_communities|length }}</span>
        </a>
      </li>
      <li role="presentation">
        <a href="{% url 'communities_invites' %}">
        Запрошення
        {% if my_invites_count %}
         <span class="badge">{{ my_invites_count }}</span>
        {% endif %}
        </a>
      </li>
      <li role="presentation">
        <a href="{% url 'input_invite_code_community' %}">
          Ввести інвайт код
        </a>
      </li>
    </ul>
  </div>
</div>
{% endblock body %}