{% extends 'base.html' %}
{% load staticfiles %}
  
{% block title %} 
  Налаштування | Змінити пароль
{% endblock %}
  
{% block head %}
<link rel="stylesheet" href="{% static 'css/settings-style.css' %}">
{% endblock head %}
   
{% block body %}
<div class="row">
  <div class="col-md-4">
    <div class="settings-menu">
     <div class="list-group">
       <a href="{% url 'settings_profile' %}" class="list-group-item">Профіль</a>
       <a href="{% url 'settings_picture' %}" class="list-group-item">Зображення</a>
       <a href="{% url 'settings_password' %}" class="list-group-item active">Змінити пароль</a>
     </div>
  </div>
  </div>
  <div class="col-md-8">
    <div class="edit-form">
    
  {% if messages %}
    {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
    
    <h3>Змінити пароль</h3><br>
      
    <form method="post" action="{% url 'settings_password' %}">
        {% csrf_token %}
        {{ form.id }}
        {% for field in form.visible_fields %}
          <div class="form-group{% if field.errors %} has-error{% endif %}">
            <label for="{{ field.label }}" class="control-label">
              {{ field.label }}
            </label>
            {{ field }} 
            {% for error in field.errors %}
              <label class="control-label field-error">{{ error }}</label>
            {% endfor %}
          </div>
        {% endfor %}
      <button type="submit" class="btn btn-primary">Зберегти</button>
    </form>
      
    </div>
  </div>
</div>
{% endblock body %}